# –ü—Ä–æ–µ–∫—Ç –ø–æ SQL

–ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –ù–∞ –∫–∞–∫–æ–µ-—Ç–æ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –ø–µ—Ä–µ—Å—Ç–∞–ª–∏ –≤—ã—Ö–æ–¥–∏—Ç—å –Ω–∞ —É–ª–∏—Ü—É, –ø–æ—Å–µ—â–∞—Ç—å –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å. –í–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –í–∞—à–∞ –ø–µ—Ä–≤–∞—è –∑–∞–¥–∞—á–∞ –∫–∞–∫ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö. –í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

**–û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö:**

**–¢–∞–±–ª–∏—Ü–∞ books**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

- book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- author_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- title ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- num_pages ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- publication_date ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- publisher_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

**–¢–∞–±–ª–∏—Ü–∞ authors**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

- author_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- author ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

**–¢–∞–±–ª–∏—Ü–∞ publishers**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

- publisher_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- publisher ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

**–¢–∞–±–ª–∏—Ü–∞ ratings**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

- rating_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- username ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- rating ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

**–¢–∞–±–ª–∏—Ü–∞ reviews**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö:

- review_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- username ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞ –æ–±–∑–æ—Ä–∞;
- text ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

**–ó–∞–¥–∞–Ω–∏—è:**

- –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;
- –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;
- –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫.

## –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import text, create_engine
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas
query = '''SELECT * FROM books LIMIT 5'''
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

In [2]:
def showcase(df):
    table = pd.io.sql.read_sql(sql=text(df), con = con)
    return table

In [3]:
books = showcase('''
SELECT * 
FROM books 
''')

display(books.head())

authors = showcase('''
SELECT * 
FROM authors 
''')

display(authors.head())

publishers = showcase('''
SELECT * 
FROM publishers 
''')

display(publishers.head())

ratings = showcase('''
SELECT * 
FROM ratings 
''')

display(ratings.head())

reviews = showcase('''
SELECT * 
FROM reviews 
''')

display(reviews.head())

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

**–í—ã–≤–æ–¥:** –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö –ø–æ–¥–∫–ª—é—á–µ–Ω—ã

## –ü–æ–¥—Å—á—ë—Ç –∫–Ω–∏–≥ –≤—ã—à–µ–¥—à–∏—Ö –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;

In [4]:
books_count = '''
            SELECT COUNT(book_id) as books_count
            FROM books
            WHERE publication_date > '2000-01-01'
            '''

showcase(books_count)

   books_count
0          819

**–í—ã–≤–æ–¥:** –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ü—Ä–∞–≤–∏–ª—å–Ω–æ!
    
–û—Ç–º–µ—á—É, —á—Ç–æ —É—Å–ª–æ–≤–∏–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ `publication_date >= '2000-01-01' ` —Ç–∞–∫–∂–µ –±—ã–ª–æ –±—ã –ø—Ä–∞–≤–∏–ª—å–Ω—ã–º, —Ö–æ—Ç—å –∏ –ø—Ä–∏–≤–µ–ª–æ –±—ã –∫ –¥—Ä—É–≥–æ–º—É —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É - –≤ —Ä–µ–∞–ª—å–Ω—ã—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö –æ —Ç–æ–º, –≤–∫–ª—é—á–∞–µ—Ç—Å—è –ª–∏ –¥–∞—Ç–∞ –≤ –¥–∏–∞–ø–∞–∑–æ–Ω –∏–ª–∏ –Ω–µ—Ç, –≤—Å–µ–≥–¥–∞ —Å—Ç–æ–∏—Ç —É—Ç–æ—á–Ω—è—Ç—å –∑–∞—Ä–∞–Ω–µ–µ:)

</div>

##  –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏

In [5]:
books_reviews = '''
WITH book_stats AS (
    SELECT 
           b.book_id,
           b.title,
           COUNT(DISTINCT rev.review_id) AS count_reviews,
           AVG(rat.rating) AS avg_rating
    FROM books b
    LEFT JOIN ratings rat ON b.book_id = rat.book_id
    LEFT JOIN reviews rev ON b.book_id = rev.book_id
    GROUP BY b.book_id
)

SELECT * 
FROM (
    SELECT * 
    FROM book_stats
    ORDER BY avg_rating DESC, count_reviews DESC
    LIMIT 50
) AS top_by_rating

UNION ALL

SELECT * 
FROM (
    SELECT * 
    FROM book_stats
    ORDER BY count_reviews DESC, avg_rating DESC
    LIMIT 50
) AS top_by_reviews
'''


df = showcase(books_reviews)


top_by_rating = df.iloc[:50]
top_by_reviews = df.iloc[50:].reset_index(drop=True)

display(top_by_rating)
display(top_by_reviews)

,book_id,title,count_reviews,avg_rating
0,17,A Dirty Job (Grim Reaper #1),4,5.000000
1,444,Moneyball: The Art of Winning an Unfair Game,3,5.000000
2,553,School's Out‚ÄîForever (Maximum Ride #2),3,5.000000
3,136,Captivating: Unveiling the Mystery of a Woman'...,2,5.000000
4,62,Alas Babylon,2,5.000000
5,938,Triptych (Will Trent #1),2,5.000000
6,347,In the Hand of the Goddess (Song of the Liones...,2,5.000000
7,598,Stolen (Women of the Otherworld #2),2,5.000000
8,229,Evil Under the Sun (Hercule Poirot #24),2,5.000000
9,972,Wherever You Go There You Are: Mindfulness Me...,2,5.000000
10,902,The War of Art: Break Through the Blocks & Win...,2,5.000000
11,76,Angels Fall,2,5.000000
12,913,The Woman in Black,2,5.000000
13,516,Plum Island (John Corey #1),2,5.000000
14,642,The Big Bad Wolf (Alex Cross #9),2,5.000000
15,297,Hard Times,2,5.000000
16,421,Marvel 1602,2,5.000000
17,699,The Demon-Haunted World: Science as a Candle i...,2,5.000000
18,901,The Walking Dead Book One (The Walking Dead #...,2,5.000000
19,993,Women,2,5.000000
20,967,Welcome to Temptation (Dempseys #1),2,5.000000
21,55,A Woman of Substance (Emma Harte Saga #1),2,5.000000
22,459,My Name Is Asher Lev,2,5.000000
23,610,Tai-Pan (Asian Saga #2),2,5.000000
24,213,Emily of New Moon (Emily #1),2,5.000000
25,441,Misty of Chincoteague (Misty #1),2,5.000000
26,469,Neil Gaiman's Neverwhere,2,5.000000
27,518,Pop Goes the Weasel (Alex Cross #5),2,5.000000
28,169,Crucial Conversations: Tools for Talking When ...,2,5.000000
29,513,Piercing the Darkness (Darkness #2),2,5.000000
30,418,March,2,5.000000
31,182,Dead Souls,2,5.000000
32,390,Light in August,2,5.000000
33,275,Geek Love,2,5.000000
34,321,Homage to Catalonia,2,5.000000
35,732,The Ghost Map: The Story of London's Most Terr...,2,5.000000
36,86,Arrows of the Queen (Heralds of Valdemar #1),2,5.000000
37,57,Act of Treason (Mitch Rapp #9),2,5.000000
38,20,A Fistful of Charms (The Hollows #4),2,5.000000
39,224,Evening Class,2,5.000000
40,625,The Adventures of Tom Sawyer and Adventures of...,1,5.000000
41,330,How to Be a Domestic Goddess: Baking and the A...,1,5.000000
42,599,Stone of Farewell (Memory Sorrow and Thorn #2),1,5.000000
43,672,The Cat in the Hat and Other Dr. Seuss Favorites,0,5.000000
44,195,Dragonfly in Amber (Outlander #2),4,4.875000
45,524,Preludes & Nocturnes (The Sandman #1),3,4.833333
46,327,House of Leaves,4,4.750000
47,912,The Witching Hour (Lives of the Mayfair Witche...,3,4.750000
48,411,Lover Revealed (Black Dagger Brotherhood #4),3,4.750000
49,801,The Monster at the End of this Book,3,4.750000

,book_id,title,count_reviews,avg_rating
0,948,Twilight (Twilight #1),7,3.662500
1,302,Harry Potter and the Prisoner of Azkaban (Harr...,6,4.414634
2,299,Harry Potter and the Chamber of Secrets (Harry...,6,4.287500
3,656,The Book Thief,6,4.264151
4,734,The Glass Castle,6,4.206897
5,750,The Hobbit or There and Back Again,6,4.125000
6,497,Outlander (Outlander #1),6,4.125000
7,695,The Curious Incident of the Dog in the Night-Time,6,4.081081
8,779,The Lightning Thief (Percy Jackson and the Oly...,6,4.080645
9,963,Water for Elephants,6,3.977273
10,696,The Da Vinci Code (Robert Langdon #2),6,3.830508
11,673,The Catcher in the Rye,6,3.825581
12,627,The Alchemist,6,3.789474
13,854,The Road,6,3.772727
14,733,The Giver (The Giver #1),6,3.750000
15,207,Eat Pray Love,6,3.395833
16,581,Snow Flower and the Secret Fan,5,4.636364
17,74,And Then There Were None,5,4.454545
18,884,The Thirteenth Tale,5,4.444444
19,284,Gone with the Wind,5,4.428571
20,722,The Fellowship of the Ring (The Lord of the Ri...,5,4.391892
21,15,A Clash of Kings (A Song of Ice and Fire #2),5,4.391304
22,830,The Poisonwood Bible,5,4.363636
23,862,The Sea of Monsters (Percy Jackson and the Oly...,5,4.272727
24,51,A Tree Grows in Brooklyn,5,4.250000
25,300,Harry Potter and the Half-Blood Prince (Harry ...,5,4.246575
26,691,The Count of Monte Cristo,5,4.217391
27,304,Hatchet (Brian's Saga #1),5,4.200000
28,426,Memoirs of a Geisha,5,4.195652
29,399,Little Women,5,4.192308
30,301,Harry Potter and the Order of the Phoenix (Har...,5,4.186667
31,869,The Shining,5,4.176471
32,837,The Princess Bride,5,4.160000
33,461,My Sister's Keeper,5,4.142857
34,162,Coraline,5,4.133333
35,374,Kafka on the Shore,5,4.125000
36,364,Jane Eyre,5,4.102041
37,408,Love in the Time of Cholera,5,4.083333
38,472,Neverwhere (London Below #1),5,4.083333
39,950,Uglies (Uglies #1),5,4.055556
40,577,Slaughterhouse-Five,5,4.028571
41,417,Man's Search for Meaning,5,4.000000
42,824,The Picture of Dorian Gray,5,4.000000
43,84,Anne of Green Gables (Anne of Green Gables #1),5,4.000000
44,70,American Gods (American Gods #1),5,4.000000
45,358,Into the Wild,5,4.000000
46,124,Brave New World,5,4.000000
47,478,Nineteen Minutes,5,4.000000
48,320,Holes (Holes #1),5,3.967742
49,145,Charlotte's Web,5,3.956522

**–í—ã–≤–æ–¥:** –ú–∞–∫—Å–∏–º—É–º –æ–±–∑–æ—Ä–æ–≤ Twilight - 7, –æ–¥–Ω–∞–∫–æ —Ä–µ–π–¥–∏–Ω–≥ 3.66. –°—Ä–µ–¥–∏ –∫–Ω–∏–≥ —Å –≤—ã—Å–æ–∫–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º (5) –º–∞–∫—Å–∏–º–∞–ª–Ω—å–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ç–∑—ã–≤–æ–≤ - A Dirty Job (Grim Reaper #1) - 4. –î–≤–µ –∫–Ω–∏–≥–∏ —Å –≤—ã—Å–æ–∫–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º –∏–º–µ—é—Ç 3 –æ–±–∑–æ—Ä–∞. –£ –æ—Å—Ç–∞–ª—å–Ω—ã—Ö –∫–Ω–∏–≥ —Å –≤—ã—Å–æ–∫–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º –æ—Ç 0 –¥–æ 2 –æ–±–∑–æ—Ä–æ–≤. –°—Ä–µ–¥–∏ –∫–Ω–∏–≥ —É –∫–æ—Ç–æ—Ä—ã—Ö –±–æ–ª–µ–µ 4—Ö –æ–±–∑–æ—Ä–æ–≤ –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π —Ä–µ–π—Ç–∏–Ω–≥ —É –∫–Ω–∏–≥–∏ Snow Flower and the Secret Fan -  4.636364.

–ú–æ–∂–µ–º —Å–¥–µ–ª–∞—Ç—å –≤—ã–≤–æ–¥, —á—Ç–æ —á–µ–º –±–æ–ª—å—à–µ –æ–±–∑–æ—Ä–æ–≤ —É –∫–Ω–∏–≥–∏, —Ç–µ–º —Å–ª–æ–∂–Ω–µ–µ –µ–π –ø–æ–ª—É—á–∏—Ç—å –º–∞–∫—Å–∏–º–∞–ª—å–Ω—É—é –æ—Ü–µ–Ω–∫—É, –ø–æ—Ç–æ–º—É —á—Ç–æ –æ–¥–Ω–∞ –Ω–µ–≥–∞—Ç–∏–≤–Ω–∞—è –æ—Ü–µ–Ω–∫–∞ –º–æ–∂–µ—Ç —Å–∏–ª—å–Ω–æ –æ–ø—É—Å—Ç–∏—Ç—å —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥. –í–µ—Ä–æ—è—Ç–Ω–æ –æ–±–∑–æ—Ä—ã –≤–ª–∏—è—é—Ç –Ω–∞ –≤–æ—Å–ø—Ä–∏—è—Ç–∏–µ –∏ –æ—Ü–µ–Ω–∫—É –æ–±—ã—á–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π.

## –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü

In [6]:
publisher_50 = '''
               SELECT pub.publisher AS publisher,
                      COUNT(b.book_id) AS books_cnt
               FROM publishers pub
               LEFT JOIN books b ON pub.publisher_id = b.publisher_id
               WHERE b.num_pages > 50
               GROUP BY publisher
               ORDER BY books_cnt DESC
               LIMIT 5
               '''

showcase(publisher_50)

                  publisher  books_cnt
0             Penguin Books         42
1                   Vintage         31
2  Grand Central Publishing         25
3          Penguin Classics         24
4                    Bantam         19

**–í—ã–≤–æ–¥:** –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∫–Ω–∏–≥ –±–æ–ª—å—à–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü –≤—ã–ø—É—Å—Ç–∏–ª–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ Penguin Books - 42 –∫–Ω–∏–≥–∏.

## –ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞—é—Ç—Å—è —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏

In [7]:
author_rating = '''
WITH book_ratings AS (
     SELECT 
         b.book_id,
         b.author_id,
         AVG(r.rating) AS avg_rating,
         COUNT(r.rating_id) AS rating_count
     FROM books b
     JOIN ratings r ON b.book_id = r.book_id
     GROUP BY b.book_id, b.author_id
     HAVING COUNT(r.rating_id) >= 50
),
author_avg_rating AS (
    SELECT 
        author_id,
        AVG(avg_rating) AS avg_author_rating
    FROM book_ratings
    GROUP BY author_id
)
SELECT 
    a.author,
    ar.avg_author_rating
FROM author_avg_rating ar
JOIN authors a ON ar.author_id = a.author_id
ORDER BY ar.avg_author_rating DESC
LIMIT 3;
'''

showcase(author_rating)

                              author  avg_author_rating
0         J.K. Rowling/Mary GrandPr√©           4.283844
1  Markus Zusak/Cao Xu√¢n Vi·ªát Kh∆∞∆°ng           4.264151
2                     J.R.R. Tolkien           4.258446

**–í—ã–≤–æ–¥:** –ê–≤—Ç–æ—Ä —Å —Å–∞–º—ã–º –≤—ã—Å–∫–æ–∏–º —Å—Ä–µ–¥–Ω–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º: J.K. Rowling/Mary GrandPr√©. –°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥: 4.28

## –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫

In [8]:
avg_reviews = '''
WITH user_reviews AS (
     SELECT r.username,
            COUNT(r.review_id) AS review_count
     FROM reviews r
     JOIN(SELECT username
          FROM ratings
          GROUP BY username
          HAVING COUNT(rating_id)>48
     ) u ON r.username = u.username
     GROUP BY r.username
     )
SELECT AVG(review_count) AS avg_reviews
FROM user_reviews;
'''

showcase(avg_reviews)

   avg_reviews
0         24.0

**–í—ã–≤–æ–¥:** —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ —Å—Ä–µ–¥–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –ø–æ—Å—Ç–∞–≤–∏–≤—à–∏—Ö –±–æ–ª–µ–µ 48 –æ—Ü–µ–Ω–æ–∫ - 24.

## –û–±—â–∏–µ –≤—ã–≤–æ–¥—ã:

- –ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥.
- –ú–∞–∫—Å–∏–º—É–º –æ–±–∑–æ—Ä–æ–≤ Twilight - 7, –æ–¥–Ω–∞–∫–æ —Ä–µ–π–¥–∏–Ω–≥ 3.66. –°—Ä–µ–¥–∏ –∫–Ω–∏–≥ —Å –≤—ã—Å–æ–∫–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º (5) –º–∞–∫—Å–∏–º–∞–ª–Ω—å–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ç–∑—ã–≤–æ–≤ - A Dirty Job (Grim Reaper #1) - 4. –î–≤–µ –∫–Ω–∏–≥–∏ —Å –≤—ã—Å–æ–∫–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º –∏–º–µ—é—Ç 3 –æ–±–∑–æ—Ä–∞. –£ –æ—Å—Ç–∞–ª—å–Ω—ã—Ö –∫–Ω–∏–≥ —Å –≤—ã—Å–æ–∫–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º –æ—Ç 0 –¥–æ 2 –æ–±–∑–æ—Ä–æ–≤. –°—Ä–µ–¥–∏ –∫–Ω–∏–≥ —É –∫–æ—Ç–æ—Ä—ã—Ö –±–æ–ª–µ–µ 4—Ö –æ–±–∑–æ—Ä–æ–≤ –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π —Ä–µ–π—Ç–∏–Ω–≥ —É –∫–Ω–∏–≥–∏ Snow Flower and the Secret Fan - 4.636364. –ú–æ–∂–µ–º —Å–¥–µ–ª–∞—Ç—å –≤—ã–≤–æ–¥, —á—Ç–æ —á–µ–º –±–æ–ª—å—à–µ –æ–±–∑–æ—Ä–æ–≤ —É –∫–Ω–∏–≥–∏, —Ç–µ–º —Å–ª–æ–∂–Ω–µ–µ –µ–π –ø–æ–ª—É—á–∏—Ç—å –º–∞–∫—Å–∏–º–∞–ª—å–Ω—É—é –æ—Ü–µ–Ω–∫—É, –ø–æ—Ç–æ–º—É —á—Ç–æ –æ–¥–Ω–∞ –Ω–µ–≥–∞—Ç–∏–≤–Ω–∞—è –æ—Ü–µ–Ω–∫–∞ –º–æ–∂–µ—Ç —Å–∏–ª—å–Ω–æ –æ–ø—É—Å—Ç–∏—Ç—å —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥. –í–µ—Ä–æ—è—Ç–Ω–æ –æ–±–∑–æ—Ä—ã –≤–ª–∏—è—é—Ç –Ω–∞ –≤–æ—Å–ø—Ä–∏—è—Ç–∏–µ –∏ –æ—Ü–µ–Ω–∫—É –æ–±—ã—á–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π.
- –ë–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∫–Ω–∏–≥ –±–æ–ª—å—à–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü –≤—ã–ø—É—Å—Ç–∏–ª–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ Penguin Books - 42 –∫–Ω–∏–≥–∏.
- –ê–≤—Ç–æ—Ä —Å —Å–∞–º—ã–º –≤—ã—Å–∫–æ–∏–º —Å—Ä–µ–¥–Ω–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º: J.K. Rowling/Mary GrandPr√©. –°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥: 4.28
- –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ —Å—Ä–µ–¥–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –ø–æ—Å—Ç–∞–≤–∏–≤—à–∏—Ö –±–æ–ª–µ–µ 48 –æ—Ü–µ–Ω–æ–∫ - 24.